{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block inject_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="custom-form section-padding text-center" id="contact">
	<p>
	    {% trans "Your password has been reset!" %}
	    {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.

	</p>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}