{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block inject_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="custom-form section-padding text-center" id="contact">
{% if validlink %}
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
			<p>{% trans "Enter your new password below to reset your password:" %}</p>
				<form class="custom-form-form" method="post" action="">
				{% csrf_token %}
				{% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>The two password didn't match.</strong>
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="form-input-group">
                        {% if field.label == 'New password' %}
                            <i class="fa fa-lock"></i><input type="password" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="Enter your new password" required>
                        {% elif field.label == 'New password confirmation' %}
                            <i class="fa fa-lock"></i><input type="password" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="Confirm your new password" required>
                        {% endif %}
                    </div>
                {% endfor %}
				<input type="submit" class="btn-fill custom-form-btn" value="{% trans 'Set password' %}" />
			</form>
		</div>
	</div>
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
</section>
{% endblock %}


{# This is used by django.contrib.auth #}