{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block inject_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="custom-form section-padding text-center" id="contact">
	<p>
	    {% blocktrans %}
	    We have sent you an email with a link to reset your password. Please check
	    your email and click the link to continue.
	    {% endblocktrans %}
	</p>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}