{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="{% static 'favicon.ico' %}">

	<title>{% block title %}{% endblock %}</title>

	{% include 'landing/head_css.html' %}
	
	{% block inject_css %}
	{% endblock %}
</head>

<body class="blog-style">
	{% include 'landing/navigation.html' %}
	
	{% block block_header %}
	{% endblock %}
    <div class="container">
		<div class="row">
			<div class="col-sm-7">
				{% block content %}
				{% endblock %}
			</div><!-- /.blog-main -->

			<div class="col-sm-4 col-sm-offset-1 blog-sidebar">
				{% block sidebar %}
				{% endblock %}
			</div><!-- /.blog-sidebar -->
		</div><!-- /.row -->
	</div><!-- /.container -->

	{% include 'landing/footer.html' %}
	{% include 'landing/javascript.html' %}
</body>
</html>
