{% extends "blog/base.html" %}
{% load staticfiles %}
{% load blog_tags %}

{% block title %}WELTHOD{% endblock %}
	
{% block inject_css %}
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog_list.css' %}" rel="stylesheet">
	<link href="{% static 'css/notification.css' %}" rel="stylesheet">
	<link href="{% static 'css/social_icons.css' %}" rel="stylesheet">
{% endblock %}

{% block block_header %}
	<div class="blog-header">
	</div>
{% endblock %}

{% block content %}
	<div class="blog-post-main">
		<h3><p class="lead blog-description">
			{% if navbar_focus == '1' %}
				Betting
			{% elif navbar_focus == '2' %}
				Affiliate Marketing
			{% elif navbar_focus == '3' %}
				Forex Trading
			{% endif %}
			&nbsp;&nbsp;-&nbsp;&nbsp;{{ post_nums }} posts so far.
		</p></h3>
		{% for post in posts %}
			<div class="blog-post">
				<h2 class="blog-post-title">
					<a href="{{ post.get_absolute_url }}">
						{{ post.title }}
					</a>
				</h2>
				<!-- <p class="blog-post-meta">Tags: {{ post.tags.all|join:", " }}</p> -->
				<p class="blog-post-meta publish-date">
					<span>Published {{ post.publish }} by {{ post.real_author }}</span>
					<span class="notification show-count notify" data-count={{ post.id }}></span>		
				</p>
				<div class="post-image">
					{% if navbar_focus == '1' %}
						<a href="{{ post.get_absolute_url }}"><img src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}/static/img/{{ post.image_gambling }}"></a>
					{% elif navbar_focus == '2' %}
						<a href="{{ post.get_absolute_url }}"><img src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}/static/img/{{ post.image_affiliate }}"></a>
					{% elif navbar_focus == '3' %}
						<a href="{{ post.get_absolute_url }}"><img src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}/static/img/{{ post.image_forex }}"></a>
					{% endif %}
				</div>
				{{ post.body|markdown|truncatewords_html:25 }}
				<div class="post-ads">
					{{ post.top_banner_ads | markdown | safe }}
				</div>
			</div>
		{% endfor %}
		<div class="socials social-position">
			<ul>
				<li><a href="#" class="fa fa-facebook square-Btn fb" title="Facebook"></a></li>
				<li><a href="#" class="fa fa-twitter square-Btn tw" title="Twitter"></a></li>
				<li><a href="#" class="fa fa-google-plus square-Btn gplus" title="Google+"></a></li>
				<li><a href="#" class="fa fa-linkedin square-Btn lnk" title="LinkedIn"></a></li>
				<li><a href="#" class="fa fa-youtube square-Btn ytb" title="YouTube"></a></li>
				<li><a href="#" class="fa fa-tumblr square-Btn tmb" title="Tumblr"></a></li>
				<li><a href="#" class="fa fa-envelope square-Btn eml" title="Email"></a></li>
				<li><a href="#" class="fa fa-share-alt square-Btn sha" title="ShareThis"></a></li>	
			</ul>
		</div>
		<div class="row" style="text-align: center;">
			{% include "blog/pagination.html" with page=posts %}
		</div>
	</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar-module blog-list-ads">
	<div class="sidebar-ads-container">
		<a target="_blank" rel="nofollow" href="https://ad.admitad.com/g/h7ql05kdbcbadf3fdf6b4bf89f6ddb/?i=4"><img width="300" height="250" border="0" src="https://ad.admitad.com/b/h7ql05kdbcbadf3fdf6b4bf89f6ddb/" alt="Tomtop.com INT"/></a>
	</div>
</div>
<div class="sidebar-module">
	<div class="sidebar-menu">
		<h4>Latest Posts</h4>
	</div>
	{% show_latest_posts 5 %}
</div>
<div class="sidebar-module blog-list-ads">
	<div class="sidebar-ads-container">
		<a target="_blank" rel="nofollow" href="https://ad.admitad.com/g/bsdyhdobk4badf3fdf6b39a9c191fc/?i=4"><img width="240" height="400" border="0" src="https://ad.admitad.com/b/bsdyhdobk4badf3fdf6b39a9c191fc/" alt="Teamo - Revshare"/></a>
	</div>
</div>
<div class="sidebar-module">
	<div class="sidebar-menu">
	<h4>Most Commented Posts</h4>
	</div>
	{% get_most_commented_posts as most_commented_posts %}
	<ul class="latest-posts-sect">
		{% for post in most_commented_posts %}
			<li>
				<div class="row">
					<div class="col-sm-6 latest-post-img">
						{% if navbar_focus == '1' %}
							<a href="{{ post.get_absolute_url }}"><img src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}/static/img/{{ post.image_gambling }}"></a>
						{% elif navbar_focus == '2' %}
							<a href="{{ post.get_absolute_url }}"><img src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}/static/img/{{ post.image_affiliate }}"></a>
						{% elif navbar_focus == '3' %}
							<a href="{{ post.get_absolute_url }}"><img src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}/static/img/{{ post.image_forex }}"></a>
						{% endif %}
					</div>
					<div class="col-sm-6 latest-post-title">
						<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
<div class="sidebar-module">
	<a href="{% url "blog:post_feed" %}" class="rss-sect">
		<div class="row">
			<div class="col-sm-3">
				<p class="fa fa-rss square-Btn rss" title="RSS Feed"></p>
			</div>
			<div class="col-sm-9 rss-feed">
				<p>Subscribe to RSS feed</p>
			</div>
		</div>
	</a>
</div>
{% endblock %}
