{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Share a post{% endblock %}

{% block inject_css %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<link href="{% static 'css/registration.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="custom-form section-padding text-center" id="contact">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% if sent %}
				<h3>E-mail successfully sent</h3>
				<p>
					"{{ post.title }}" was successfully sent to {{ cd.to }}.
				</p>
			{% else %}
				<h2>- SHARE -</h2><h3> "{{ post.title }}" </h3><h4>by e-mail</h4>
				<form class="custom-form-form" action="." method="post">
					{% csrf_token %}
					{% if form.errors %}
						
							<div class="alert alert-danger">
								<strong>{{ form.errors }}</strong>
							</div>
						
					{% endif %}
					{% for field in form %}
						<div class="form-input-group">
							{% if field.label == 'Name' %}
								<i class="fa fa-user"></i><input type="text" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="Enter your name" required>
							{% elif field.label == 'Email' %}
								<i class="fa fa-envelope"></i><input type="email" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="Enter the email" required>
							{% elif field.label == 'To' %}
								<i class="fa fa-envelope"></i><input type="email" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="To" required>
							{% elif field.label == 'Comments' %}
								<i class="fa fa-file"></i><input type="text" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="Message" required>
							{% endif %}
						</div>
					{% endfor %}
					<input type="submit" class="btn-fill custom-form-btn" value="Send e-mail">
				</form>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}